.satu {
	width: 200px;
	height: 200px;
	background-color: violet;
}
.dua {
	width: 200px;
	height: 200px;
	background-color: lightgreen;
	position: relative;
	top: 30px;
	left: 30px;
}
.tiga {
	width: 200px;
	height: 200px;
	background-color: gold;
}